{% extends LayoutTemplate %}



{% block stylesheets %}
    {{ parent() }}
	{% block stylesheets_extra %}
	{% endblock stylesheets_extra %}
	<style type="text/css">
		.marked_unread{font-weight:bold;}
	</style>
{% endblock stylesheets %}



{% block javascripts %}
	{{ parent() }}
	{% block javascripts_extra %}
	{% endblock javascripts_extra %}
{% endblock javascripts %}



{% block tool_bar %}
	{%- spaceless -%}
		<header>
			<div class="container-fluid clear-top crumb-bar-container">
				<div class="row-fluid">
				    <div class="span2">
						<h3>
							{% block sub_title %}
								<a href="{{ path('ccdn_message_message_index') }}">
									Messages
								</a>
							{% endblock sub_title %}
						</h3>
					</div>

					{%- if crumbs is defined -%}
						<nav class="span10">
							{%- block crumb_trail -%}
								{%- include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } -%}
							{%- endblock crumb_trail -%}
						</nav>
					{%- endif -%}
				</div>
			</div>
		</header>
	{%- endspaceless -%}
{% endblock tool_bar %}



{% block sidebar %}
	{%- spaceless -%}

    {{ parent() }}

	{%- block sidebar_extra_top -%}{%- endblock sidebar_extra_top -%}
	{%- include 'CCDNMessageMessageBundle:Sidebar:sidebar.html.twig' -%}
	{%- block sidebar_extra_bottom -%}{%- endblock sidebar_extra_bottom -%}

	{%- endspaceless -%}
{% endblock %}


{% block body %}
	{%- spaceless -%}

	{%- include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' -%}

	{%- block body_content -%}
	{%- endblock body_content -%}

	{%- block body_footer -%}
		{%- include 'CCDNMessageMessageBundle:Footer:footer.html.twig' -%}
	{%- endblock body_footer -%}

	{%- endspaceless -%}
{% endblock body %}
